body {
    background-image:url("image.jpg");
    background-size: cover;
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #93e4c1;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#weather-result {
    background-color:#8dc6ff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

h2, h3 {
    color: #333;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
}
#forecast {
    background-color: #8dc6ff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:#93e4c1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.input-field {
    background-color: #f7f7fe;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 70%;
    font-size: 16px;
}

.submit-button {
    background-color: #4c93af;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left:5px;
}

.submit-button:hover {
    background-color: #459da0;
}
footer{
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.6)
}
